@font-face {
    font-family: dmSans;
    src: url(assets/fonts/static/DMSans-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --light-purple: hsl(254, 88%, 90%);
    --dark-purple: hsl(256, 67%, 59%);

    --light-yellow: hsl(31, 66%, 93%);
    --dark-yellow: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

body{
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: dmSans;
    font-size: 18px;
}


.main-container{
    border-radius: 15px;
    margin-top: 120px;
    height: 800px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*--------------------------------------------------------------------------*/

#left{
    flex: 0.3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-col{
    border-radius: 15px;
    flex: 1;
}

#right{
    flex: 1.7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-col{
    border-radius: 15px;
}

#right-top{
    border-radius: 15px;
    flex: 1.4;
    display: flex;
    gap: 20px;
}

.top{
    border-radius: 15px;
    display: flex;
}

#top-left{
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#top-left-1{
    border-radius: 15px;
    flex: 1.2;
}

#top-left-2{
    border-radius: 15px;
    flex: 0.8;
    display: flex;
    gap: 20px;
}

#instaCard{
    border-radius: 15px;
    flex: 1;
}

#scheduleCard{
    border-radius: 15px;
    flex: 1;
}

#top-right{
    flex: 0.7;
}

#right-bottom{
    border-radius: 15px;
    flex: 0.6;
    display: flex;
    gap: 20px;
}

#audienceGrowth{
    border-radius: 15px;
    flex: 0.6;
}

#contentGraph{
    border-radius: 15px;
    flex: 1.4;
}

/*--------------------------------------------------------------------------*/

#createPostCard{
    background-color: var(--light-yellow);
    padding-top: 50px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#createPostCard h1{
    line-height: 35px;
    letter-spacing: -3px;
}

span{
    color: var(--dark-purple);
    font-style: italic;
}

#createPostCard img{
    position: absolute;
    top: 210px;
    height: 25%;
}

/*--------------------------------------------------------------------------*/

#contentAICard{
    background-color: var(--dark-yellow);
    padding: 1.1em;
}

#contentAICard h1{
    line-height: 35px;
    letter-spacing: -2.5px;
}

#contentAICard img{
    height: 210px;
    width: 210px;
    margin-top: 60px;
}

/*--------------------------------------------------------------------------*/

#top-left-1{
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-left-1 h1{
    color: var(--white);
    font-size: 48px;
}

#top-left-1 span{
    color: var(--dark-yellow);
    font-style: normal;
}

#top-left-1 img{
    margin-top: 1em;
    width: 200px;
}

#top-left-1 p{
    margin-top: 0.5em;
    color: var(--light-purple);
}

/*--------------------------------------------------------------------------*/

#instaCard{
    background-color: var(--white);
    overflow: hidden;
    padding: 8px;
}

#instaCard img{
    height: auto;
    width: 18em;
}

#instaCard h1{
    line-height: 35px;
    letter-spacing: -2.5px;
}

/*--------------------------------------------------------------------------*/

#scheduleCard{
    background-color: var(--dark-yellow);
    padding: 8px;
    position: relative;
}

#scheduleCard h1{
    line-height: 30px;
    letter-spacing: -2.5px;
}

#smallCalendar{
    height: 90px;
    width: 200px;
    background-color: var(--white);
    margin-top: 10px;
    position: absolute;
    left: 25px;
    top: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

#purplePart{
    padding: 5px;
    width: 100%;
    height: 40%;
    background-color: var(--dark-purple);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: var(--white);
}

#purpleTick{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
}

/*--------------------------------------------------------------------------*/

#top-right{
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 1em;
    padding-top: 2em;
}

#top-right h1{
    line-height: 35px;
    letter-spacing: -2.5px;
}

#top-right img{
    position: absolute;
    top: 120px;
    left: 30px;
    height: 300px;
    width: 330px;
}

#top-right p{
    color: var(--black);
    position: absolute;
    top: 430px;
    font-weight: 500;
}


/*--------------------------------------------------------------------------*/

#audienceGrowth{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
}

#audienceGrowth h1{
    text-align: center;
}

#audienceGrowth p{
    text-align: center;
}

#audienceGrowth img{
    position: absolute;
    top: 120px;
    left: 15px;
    height: 35%;
}

/*--------------------------------------------------------------------------*/

#contentGraph{
    background-color: var(--dark-purple);
    position: relative;
}

#contentGraph img{
    position: absolute;
    left: 30px;
    top: 25px;
    height: 80%;
}

#contentGraph h1{
    position: absolute;
    left: 250px;
    top: 60px;
    color: var(--white);
    width: 250px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -2.5px;
}

/*--------------------------------------------------------------------------*/

/*----------------------------Media Queries--------------------------------*/

@media (max-width:1366px){
    .main-container{
        flex-direction: row;
        width: 1100px;
        position: absolute;
    }
}

/*--------------------------------------------------------------------------*/
@media (max-width:1280px) {
    .main-container{
        flex-direction: row;
        position: absolute;
        top: 60px;
        height: 800px;
    }

    #createPostCard h1{
        position: absolute;
        top: 60px;
        width: 200px;
    }

    #createPostCard img{
        position: absolute;
        top: 230px;
        height: 20%;
    }

    #contentAICard h1{
        position: relative;
        top: 20px;
        width: 150px;
    }

    #contentAICard img{
        position: relative;
        top: 0px;
    }

    #top-left-1 h1{
        font-size: 56px;
    }

    #top-left-1 p{
        font-size: 20px;
    }

    #instaCard img{
        margin-bottom: 15px;
    }

    #smallCalendar{
        height: 110px;
        top: 125px;
    }

    #purpleTick{
        top: 20px;
    }

    #top-right img{
        top: 140px;
        left: 50px;
        height: 275px;
    }

    #top-right p{
        top: 430px;
    }

    #audienceGrowth h1{
        position: relative;
        top: 10px;
        font-size: 48px;
    }

    #audienceGrowth p{
        position: relative;
        top: 20px;
    }

    #audienceGrowth img{
        top: 150px;
        left: 45px;
        height: 28%;
    }

    #contentGraph img{
        top: 30px;
        left: 50px;
        height: 80%;
    }

    #contentGraph h1{
        left: 270px;
        top: 60px;
    }
}

/*--------------------------------------------------------------------------*/

@media (max-width:1024px){
    .main-container{
        flex-direction: column;
        width: 800px;
        height: 1500px;
        margin-bottom: 100px;
    }

    #createPostCard h1{
        position: relative;
        top: 40px;
        width: 300px;
    }

    #createPostCard img{
        position: relative;
        top: 60px;
    }

    #contentAICard h1{
        position: relative;
        top: 20px;
        left: 180px;
    }

    #contentAICard img{
        position: relative;
        left: 275px;
    }
}